html {
    background-color: rgb(27, 4, 4);
    color: whitesmoke;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;

}

a {
    color: lightgray;
}

a:visited {
    color: purple;
}

a:hover, a:active {
    color: red;
}